<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
</head>
<body>
  <header class="header">
    <h1>Add a new user</h1>
  </header>
  <form action="/User/register" method="POST" id="create-form">
    <div>
    <label>User name:</label>
    <input type="text" name="name" required />
    </div>
    <div>
    <label>user email:</label>
    <input type="text" name="email" required />
    </div>
    <div>
    <label>user password:</label>
    <input type="password" name="pass" />
    </div>
    <div>
    <input type="submit" value = "Submit">
    </div>
    </form>
    </div>
    </form>





</body>
</html>